<p>Time Log Details</p>

<table class="table table-hover">
  <tr>
    <td>User</td>
    <td>Project</td>
    <td>Record Date</td>
    <td>Hour</td>
    <td>Comment</td>
    
    
  </tr>
  <tr *ngFor="let data of timesheetData">
    <td (click)="populateForm(data)">{{data.user}}</td>
    <td (click)="populateForm(data)">{{data.projectName}}</td>
    <td (click)="populateForm(data)">{{data.recordDate}}</td>
    <td (click)="populateForm(data)">{{data.hour}}</td>
    <td (click)="populateForm(data)">{{data.comment}}</td>
    
  </tr>
</table>